<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body class="indexBody">
  
    <h1>DOGS</h1>
    <p>Search a dog breed</p>
   <form action="/dogs" method="post">
    <input type ="name" name="breed" placeholder="breed">
    <input type="submit" value="submit">
    </form>
    <div>
      {{#each data}}
        <p>{{this}}</p>
        {{/each}}
    </div>
</body>
</html>