<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body class="indexBody">
  
 
  <h1>Look up Lyrics!</h1>
  <p>search for a artist and their song to get the lyrics.</p>

    <form action="/" method="post">
    <input type ="name" name="artist" placeholder="artist">
    <input type="text" name="song" placeholder="song">
    <input type="submit" value="submit">
    </form>
   
        {{#each data}}
        <p>{{this}}</p>
        {{/each}}


      
    
</body>
</html>