<div class="navbar">
        <!--div.navbar-->
        <ul>
          <li><a href="ele">RANDOM JOKE API</a></li>
          <li><a href="/">SONG LYRICS API</a></li>
          <li><a href="dogs">PICTURES OF DOGS API</a></li>
        </ul>
<div>
  <h1>LOOK UP LYRICS</h1>
  <form action="">
    <input type="text" id="artist" placeholder="What artist?">
    <input type="text" id="song" placeholder="what song?">
    <button id="button">Search lyrics</button>
  </form>
  {{lyrics}}
</div>